<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily Prophet</title>
    <style>
    	body{background-color: #ebd4b9}
        @font-face {
            font-family: 'mugglenews';
            src: URL('./assets/mugglenews_by_nathanthenerd_d41qn8p.ttf') format('truetype');
        }
        h1{
            font-family: mugglenews;
            font-size: 104px;
        }
        .p{
            color:#d3a825;
        }
        .notice{
        	width: 200px;
        }
    </style>
</head>
<body>
    <div style="display: flex;">
        <h1>Daily <b style="color: #d3a825;">P</b>rophet</h1>
    </div>
    <div class="notice">
        <!-- JS fecth aqui para buscar as noticias -->
    </div>
</body>
</html>