<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Country</title>
</head>
<body>
    <div>
        <h1>Please, select a country to receive daily news.</h1><br>
        <select id="selectCountry">
            <option value=""></option>
            <option value="brazil">Brazil</option>
            <option value="eua">EUA</option>
        </select>
        <span style="color: red; display: none;">Please, select valide country.</span>
        <button onclick="selectCountry();">Register!</button>
    </div>
    <script>
        function selectCountry(){
            let valueSelected = document.querySelector('#selectCountry').value;
            if(valueSelected == ""){
                document.querySelector('span').style.display = 'block';
                return;
            }
            var myHeaders = new Headers();

            var myInit = { method: 'GET',
               headers: myHeaders,
               mode: 'cors',
               cache: 'default'
            };

            fetch("../setcookie-country.php?country="+valueSelected);
            window.location.reload();
        }
    </script>
</body>
</html>